<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>ShowMeCancer - Home</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Anthony Cardillo MD">

</head>

<body>
	<h1>ShowMeCancer - Head/Neck Cancer</h1>
	<p>Select type of cancer to be displayed:</p>

	<form id="submit" method="POST">
		<select name="anatomy" id="anatomy" required>
			<option value="Larynx">Larynx</option>
			<option value="Hypopharynx">Hypopharynx</option>
			<option value="Oropharynx">Oropharynx</option>
			<option value="Nasopharynx">Nasopharynx</option>
			<option value="unknown">Unknown</option>
		</select>
		<input type="submit" value="Search Collection">
	</form>

</body>

</html>